*{
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;
}

a {
    text-decoration: underline;
    color: black;
}

table{
    border-collapse: collapse;
}

td {
    text-align: center;
    border-bottom: 1px solid grey;
    padding: 8px;
}

/*Header*/
.root{
    align-content: center;
    display: flex;
    justify-content: space-between;
    padding-right: 1rem;
    padding-left: 1rem;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.navItem{
    padding: 0 1rem;
    margin: 0 0.7rem;
    font-size: 1rem;
    line-height: 3rem;
    color: #f0ecff;
    text-decoration: none;
    letter-spacing: 1px;
    white-space: nowrap;
}

.navMenu{
    padding: 5px 0px;
    background-color: rgb(18, 18, 61);
    position: relative;
    z-index: 1;
}

.siteLinks{
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

/*Card*/
.cardInfo{
    display:flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 70%;
}

/*Search*/
.filters{
    width: 25%;
}

.searchField {
    border: 1px solid black;
    height: 25px;
    padding-left: 5px;
    margin-right: 5px;
}

.searchResults{
    padding-right: 1rem;
    padding-left: 1rem;
    width:75%;
}

.searchSubmit {
    background-color:rgb(18, 18, 61);
    height: 25px;
    width: 50px;
    border-radius: 5px;
    color: #f0ecff;
}

.pageSelect{
    display: flex;
    justify-content: space-between;
    width: 35%;
    margin-right: auto;
    margin-left: auto;
    padding-top: 1rem;
}

.filteredCategory{
    display: flex;
    align-items: center;
    justify-content: center;
}

.filteredCategory > a {
    padding-right: 5px;
}

.setFilter{
    padding-left: 25px;
}

.ASC{
	width: 0;
	height: 0;
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	border-bottom: 14px solid #555;
}

.DESC{
	width: 0;
	height: 0;
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	border-top: 14px solid #555;
}

.overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  }